.lightbox-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,.8);

    .lightbox-sub {
        width: 85vh;
    }

    .close-icon {
        margin-left: 95%;
        height: 25px;
        width: 25px;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .lightbox-focus {
        height: 80vh;
        width: auto;
    }

}


@media screen and (max-width: 500px) {
    .lightbox-container {
        display: none;
    }
}