.cart-window {
    position: absolute;
    left: 980px;
    top: 90px;
    z-index: 10;
    width: 360px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,.2);

    .title-bar {
        height: 50px;
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: center;
        
        .cart-title {
            font-size: 16px;
            font-weight: 700;
            margin-left: 20px;
        }
    }
    .main-cart-window {
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            margin-top: 50px;
            font-size: 16px;
            color: #69707D;
        }
    }

}