.cart-window {
    position: absolute;
    right: 5vw;
    top: 90px;
    z-index: 10;
    width: 360px;
    min-height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,.2);

    .title-bar {
        height: 50px;
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: center;
        
        .cart-title {
            font-size: 16px;
            font-weight: 700;
            margin-left: 20px;
        }
    }
    .main-cart-window {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            margin-top: 50px;
            font-size: 16px;
            color: #69707D;
        }

        .cart-item-info {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 20px;
            color: #69707d;

            .cart-image-thumbnail {
                width: 50px;
                border-radius: 5px;
            }

            .cart-item-name {
                font-size: 16px;
            }

            .trash-icon {
                width: 14px;
                height: 16px;

                &:hover {
                    cursor: pointer;
                }
            }

            .pricing-flex {
                display: flex;
                margin-top: 5px;

                .product-total {
                    color: black;
                    font-weight: 700;
                    margin-left: 15px;
                }
            }
        }
    }
}

.checkout-button {
    width: 312px;
    height: 56px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background-color: #FF7e1b;
    border: none;
    border-radius: 10px;
    margin: 20px 0px;
}