#navbar {
    position: relative;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 auto;
    width: 1110px;
    height: 100px;
    z-index: 9;

    #hamburger {
        display: none;
    }

    #navlinks {
        align-items: center;
        height: 100px;
    }

    #logo {
        position: relative;
        float: left;
        margin-right: 50px;
        height: 20px;
        transform: translateY(-2px);
    }

    ul {
        list-style: none;
        display: flex;
        color: gray;
        height: 100px;

        li {
            height: 80px;
            display: flex;
            align-items: center;
            margin-right: 25px;
            border-bottom: 4px solid transparent;
            cursor: pointer;

            &:hover {
                border-bottom: 4px solid hsl(26, 100%, 55%);
            }
        }
    }

    #cart-and-avatar {
        height: 100px;
        position: relative;
        float: right;
        display: flex;
        align-items: center;

        #cart-icon {
            height: 20px;
            margin-right: 40px;

            &:hover {
                cursor: pointer;
            }
        }

        .cart-counter {
            display: flex;
            /*display: flex; */
            top: 28px;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            position: absolute;
            transform: translateX(10px);
            background-color: hsl(26, 100%, 55%);
            height: 18px;
            width: 18px;
            color: white;
            border-radius: 50%;
            text-align: center;
        }

        #avatar-logo {
            height: 55px;
            box-sizing: border-box;
            border: 2px solid transparent;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
                border: 2px solid hsl(26, 100%, 55%);
                border-radius: 50%;
            }
        }
    }

}


@media screen and (max-width: 500px) {
    #navbar {
        width: 100vw;
        height: 75px;
        justify-content: space-around;
        position: fixed;
        background-color: white;

        .desktop-link {
            display: none;
        }

        #hamburger {
            display: block;
            margin-left: 20px;

            .line {
                display: block;
                background-color: gray;
                height: 3px;
                width: 20px;
                margin-bottom: 3px;
            }
        }

        #mobile-navbar {
            position: absolute;
            height: 100vh;
            width: 70vw;
            top: 0;
            left: 0;
            background-color: white;
            z-index: 10;

            .page-filter {
                position: absolute;
                left: 70vw;
                z-index: 7;
                height: 100vh;
                width: 100vw;
                background-color: rgba(0,0,0,.8);
            }

            #mobile-navlinks {
                display: flex;
                z-index: 10;
                flex-direction: column;
                align-items: start;
                margin-left: 30px;

                .mobile-x {
                    margin-top: 40px;
                    margin-bottom: 40px;
                }

                .mobile-link {
                    color: black;
                    font-size: 18px;
                    font-weight: 700;
                    margin-bottom: 15px;
                }
            }
        }

        #cart-and-avatar {
            height: 75px;
            position: relative;
            float: right;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
    
            #cart-icon {
                height: 20px;
                margin-right: 20px;
    
                &:hover {
                    cursor: pointer;
                }
            }
    
            .cart-counter {
                display: flex;
                /*display: flex; */
                top: 15px;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                position: absolute;
                transform: translateX(10px);
                background-color: hsl(26, 100%, 55%);
                height: 18px;
                width: 18px;
                color: white;
                border-radius: 50%;
                text-align: center;
            }
    
            #avatar-logo {
                height: 40px;
                transform: translateY(-5px);
                border: 2px solid transparent;
                border-radius: 50%;
    
                &:hover {
                    cursor: pointer;
                    border: 2px solid hsl(26, 100%, 55%);
                    border-radius: 50%;
                }
            }
        }
    }
}